@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("iphone.jpg") no-repeat center center/cover;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.cap {
  height: 100px;
  width: 100px;
  padding: auto;
  margin: auto;
  background-color: red;
  position: relative;
}

.todo {
  position: absolute;
  width: 35%;
  min-width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  min-height: 100px;
  border-radius: 10px;
}
.todo h2 {
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}

#task {
  position: relative;
  padding: 30px 20px;
}

#task input {
  width: 80%;
  height: 45px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 12px;
  border: 2px solid black;
  position: relative;
  border-radius: 5px;
}

#task button {
  position: relative;
  float: right;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-size: 15px;
  border: none;
  background-color: green;
  color: white;
  outline: none;
}

#tasks {
  background-color: white;
  padding: 30px 20px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.task {
  background-color: white;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
}
.task span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.task button {
  background: hsl(347, 89%, 34%);
  color: white;
  height: 100%;
  width: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

@media (max-width:760px) {
  .todo {
    width: 45%;
  }
}


@media (min-width:460px) {
  body {
    width: 45%;
  }
}